name: CI

on:
  push:
    branches:
    - master

jobs:
  deploy:
    name: Start
    runs-on: [ubuntu-latest]

    steps:
    - name: Checkout
      uses: actions/checkout@master
    
    - name: Upload
      uses: ./github/workflows
      with:
        args: --acl public-read --follow-symlinks --delete
      env:
        AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_IAM_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_IAM_SECRET_ACCESS_KEY }}
        AWS_REGION: 'ap-northeast-2'   # optional: defaults to ap-northeast-2
        SOURCE_DIR: './'           # optional: defaults to entire repository