name: Upload Website

on:
  push:
    branches:
    - master

jobs:
  deploy:
    name: Build, Deploy to S3 bucket
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    
    - name: Upload file to bucket
    - uses: sdYoo/ServerlessProject@master
      with:
        args: --acl public-read --follow-symlinks --delete
      env:
        AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_IAM_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_IAM_SECRET_ACCESS_KEY }}
        AWS_REGION: 'ap-northeast-2'   # optional: defaults to ap-northeast-2
        SOURCE_DIR: 'public'           # optional: defaults to entire repository