name: ServerlessProject

on:
  push:
    branches:
    - master

jobs:
  deploy:
    name: Start
    runs-on: [ubuntu-latest]

    steps:
    - name: Checkout
      uses: actions/checkout@master
    
    - name: Deploy
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_IAM_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_IAM_SECRET_ACCESS_KEY }}
      run: |
        ls -al
        aws s3 cp \
          --recursive \
          --region ap-northeast-2 \
          ./ s3://ServerlessProject